.main-layout {
    max-width: 800px;
    min-width: 800px;
    margin: 0 auto;
}

.main-header {
    padding: 10px;
    background-color: #d1dfd7;
    display: flex;
}

.main-header-name {
    margin-right: auto;
    /* 왼쪽 정렬 */
}

.main-header-title {
    margin-left: auto;
    /* 오른쪽 정렬 */
}

.addTodoList {
    padding: 24px;
    background-color: rgb(188, 208, 201);
    display: flex;
    font-size: 14px;
}

.addButton {
    font-family: 'Yeongdeok_Snow_Crab', sans-serif;
    margin-left: auto;
    border-radius: 5px;
    font-size: 14px;
    background-color: aliceblue;
}

.todoList {
    display: flex;
    flex-wrap: wrap;
}

.todoItem {
    width: 200px;
    height: 150px;
    border: 4px solid #adb1ae;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.completeButton {
    font-family: 'Yeongdeok_Snow_Crab', sans-serif;
    background-color: white;;
    border-color: #bac6bf;
    border-radius: 5px;
    font-size: 1-px;
    padding: 3px 20px;
}

.deleteButton {
    font-family: 'Yeongdeok_Snow_Crab', sans-serif;
    background-color: white;
    border-color: rgb(208, 62, 62);
    border-radius: 5px;
    font-size: 14px;
    padding: 3px 20px;
}